# General
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# git cloneなどの格納ディレクトリ
tmp

# https://github.com/github/gitignore/tree/master/Global