# General
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Archive
*.zip

# Language, Framework, etc
.vagrant/
.mypy_cache

# git cloneなどの格納ディレクトリ
tmp

# Secret
.env
.vscode

# https://github.com/github/gitignore/tree/master/Global