extra/ComfyUI:
  # base_path: {{ pwd }}/ComfyUI  # For models, not works...
  LLM: {{ pwd }}/ComfyUI/models/LLM
  checkpoints: {{ pwd }}/ComfyUI/models/checkpoints
  clip: {{ pwd }}/ComfyUI/models/clip
  clip_vision: {{ pwd }}/ComfyUI/models/clip_vision
  configs: {{ pwd }}/ComfyUI/models/configs
  controlnet: {{ pwd }}/ComfyUI/models/controlnet
  diffusers: {{ pwd }}/ComfyUI/models/diffusers
  diffusion_models: {{ pwd }}/ComfyUI/models/diffusion_models
  embeddings: {{ pwd }}/ComfyUI/models/embeddings
  gligen: {{ pwd }}/ComfyUI/models/gligen
  hypernetworks: {{ pwd }}/ComfyUI/models/hypernetworks
  loras: {{ pwd }}/ComfyUI/models/loras
  photomaker: {{ pwd }}/ComfyUI/models/photomaker
  style_models: {{ pwd }}/ComfyUI/models/style_models
  text_encoders: {{ pwd }}/ComfyUI/models/text_encoders
  unet: {{ pwd }}/ComfyUI/models/unet
  upscale_models: {{ pwd }}/ComfyUI/models/upscale_models
  vae: {{ pwd }}/ComfyUI/models/vae
  vae_approx: {{ pwd }}/ComfyUI/models/vae_approx
