

## 開発方針

- スクラム開発で行います。
- 開発開始時、指定されたSprintの内容**だけ**を開発してください。
- 1スプリント、1Pull Requestの超ミニバッチ開発です。
- 1スプリントあたりのVelocityは、300行以内とします。それより多くなりそうな場合、バックログの分割を検討してください。

## Rules

- 必要な画像の素材は、単色の矩形のSVGでまかなってください。後ほどデザイナーが画像に入れ替えます。
