

## 開発方針

- スクラム開発で行います。
- 開発開始時、指定されたSprintの内容**だけ**を開発してください。
- 1スプリント、1Pull Requestの超ミニバッチ開発です。
- 1スプリントあたりのVelocityは、300行以内とします。それより多くなりそうな場合、バックログの分割を検討してください。
- スプリント開始時にブランチを作成します（ `feat/sprint-<sprint_number>` ）。
- 開発が完了したら`pnpm dev`で動作確認を行い、その後ユーザー=プロダクトオーナーにスプリントレビューを依頼してください。
- スプリントレビュー完了時または次回のスプリント開始時に、`main`ブランチにマージしてください。

## Rules

- 必要な画像の素材は、単色の矩形のSVGでまかなってください。後ほどデザイナーが画像に入れ替えます。
- あなたは優秀なギークなので、手書きでSVGを作成することができます。
- 素材は `public/assets` 以下に保存してください。
