<!DOCTYPE html>
<html>
  <head>
    <title>Introduction to WebRTC</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div>
      Video:
      <select id="camera"></select>
    </div>
    <video id="videoTag" autoplay></video>
    <div>
      <label>Your Name</label><input id="myName" type="text" />
      <label>Message</label><input id="myMessage" type="text" />
      <input id="sendMessage" type="submit" />
      <div id="chatArea">Message Output:<br /></div>
    </div>
    <script>
      const videoArea = document.querySelector("video");
      const videoSelect = document.querySelector("#camera");
      const myName = document.querySelector("#myName");
      const myMessage = document.querySelector("#myMessage");
      const sendMessage = document.querySelector("#sendMessage");
      const chatArea = document.querySelector("#chatArea");
      const ROOM = "chat";
      const onSuccess = (stream) => {
        console.log("Success! We have a stream!");
        videoArea.srcObject = stream;
        videoArea.className = "grayscale_filter";
        videoArea.play();

        // createObjectURL is deprecated.
        // https://stackoverflow.com/questions/27120757/failed-to-execute-createobjecturl-on-url
        // videoArea.src = window.URL.createObjectURL(stream);
      };
      const startStream = () => {
        const videoSource = videoSelect.value;
        const constraints = {
          audio: true,
          video: {
            mandatory: {
              minWidth: 640,
              maxWidth: 640,
              minHeight: 360,
              maxHeight: 480,
            },
            optional: [
              {
                sourceId: videoSource,
              },
            ],
          },
        };
        navigator.mediaDevices
          .getUserMedia(constraints)
          .then(onSuccess)
          .catch((error) => {
            console.error(error);
          });
        // navigator.getUserMedia() is deprecated because there are already newer promise version.
      };
      const getCameras = (sourceInfos) => {
        console.log(sourceInfos);
        sourceInfos.forEach((info) => {
          const option = document.createElement("option");
          option.value = info.id;
          if (info.kind == "videoinput") {
            option.text =
              info.kind + ": " + info.label + " id = " + info.deviceId;
            videoSelect.appendChild(option);
          }
        });
      };

      navigator.mediaDevices
        .enumerateDevices()
        .then(getCameras)
        .catch((error) => {
          console.error(error);
        });
      // MediaStreamTrack.getSources(getCameras); is deprecated
      videoSelect.onchange = startStream;
      // startStream();

      const socket = io.connect();
      socket.emit("ready", ROOM);

      const displayMessage = (message) => {
        chatArea.innerHTML = chatArea.innerHTML + "<br />" + message;
      };
      socket.on("announce", (data) => {
        displayMessage(data.message);
      });

      socket.on("message", (data) => {
        displayMessage(data.author + ": " + data.message);
      });

      sendMessage.addEventListener("click", (event) => {
        console.log("sendMessage start");
        socket.emit("send", {
          author: myName.value,
          message: myMessage.value,
          room: ROOM,
        });
      });
    </script>
  </body>
</html>
