extra/ComfyUI:
  LLM: {{ model_path }}/LLM
  checkpoints: {{ model_path }}/checkpoints
  clip: {{ model_path }}/clip
  clip_vision: {{ model_path }}/clip_vision
  configs: {{ model_path }}/configs
  controlnet: {{ model_path }}/controlnet
  diffusers: {{ model_path }}/diffusers
  diffusion_models: {{ model_path }}/diffusion_models
  embeddings: {{ model_path }}/embeddings
  gligen: {{ model_path }}/gligen
  hypernetworks: {{ model_path }}/hypernetworks
  loras: {{ model_path }}/loras
  photomaker: {{ model_path }}/photomaker
  style_models: {{ model_path }}/style_models
  text_encoders: {{ model_path }}/text_encoders
  unet: {{ model_path }}/unet
  upscale_models: {{ model_path }}/upscale_models
  vae: {{ model_path }}/vae
  vae_approx: {{ model_path }}/vae_approx
