<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!-- URLパターンとサーブレット名、サーブレット名とサーブレットクラスをそれぞれ対応させる。 -->
  <servlet>
    <servlet-name>ShowBBS</servlet-name>
    <servlet-class>cc.hiroga.ShowBBS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBBS</servlet-name>
    <url-pattern>/ShowBBS</url-pattern>
  </servlet-mapping>
</web-app>
